 * {
     box-sizing:border-box;
        }

     body{
        font-family:open-sans, sans-serif;
        background: purple;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
         
    }

        h1{
        color: silver;
     }

        .wallet{
        background: white;
            
 }

    .wallet span{
        color: black;
        font-size: 30px;
        font-weight: bold;
 }

     .reels{
        margin: 20px;
}

    .reel {
         width: 100px;
         height: 100px;
         background: white;
         display: flex;
        justify-content: center;
         align-items: center;
         font-size: 50px;
     }


     #message{
        font-size: 30px;   
    }
