 * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: purple;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
         
        }

        .slot-machine {
            width: 600px;
            background: black;
            padding: 30px;
            text-align: center;
        }

        h1 {
            margin-top: 0;
            color: silver;
        }

        .wallet {
            background: white;
            padding: 15px;
            margin-bottom: 20px;
        }

        .wallet span {
            color: black;
            font-size: 24px;
            font-weight: bold;
        }

        .reels {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin: 20px 0;
        }

        .reel {
            width: 200px;
            height: 200px;
            background: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
        }

        .bet-section {
            margin: 20px 0;
        }

        .bet-section button {
            width: 45px;
            height: 35px;
            font-size: 20px;
        }

        #betAmount {
            display: inline-block;
            width: 200px;
            font-size: 22px;
            font-weight: bold;
        }

        #spinButton {
            width: 100%;
            padding: 15px;
            margin-top: 15px;
            background: gold;
            border: none;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }


        #message {
            min-height: 25px;
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }